/*Tablet*/
@media (min-width: 740px) and (max-width:991px){
    .top-header{
        height: auto;
    }
    .col-md-3{
        width: 50%;
    }
    .main-menu ul  {
        display: flex;
    }
    .main-menu ul li{
        float: right;
    }
    .header-btn{
        display: none;
    }
    
    .colfee{
        padding-top: 110px;
    }
    .colfee h1{
        font-size: 40px;
    }
    .colfee h2{
        font-size: 30px;
        padding-bottom: 30px;
    }
    .colfee p{
        margin: 0 85px;
    }
    .demos-inner{
        padding-bottom: 300px;
    }
    .thanks h1 {
        font-size: 40px; 
    }
}
/*Tablet*/
@media (min-width: 992px) and (max-width:1199px)
{
   .main-menu ul li a{
       padding: 0;
   }
}
/*Mobile*/
@media(max-width:740px)
{
    .top-header{
        height: auto;
    }
    .main-menu{
        font-size: 14px;   
        padding-top: 40px;
      
    }
    .main-menu .rps-menu-1 {
        margin-right: 32px;
    }  
    .main-menu ul li a{
        padding-left: 0;
    }
    .center{
        float: right;
    }
    .header-btn{
        display: none;
    }
  
    .shape-w{
        display: none;
    }
    .colfee{
        display: block;
    }
    .colfee h1{
        font-size: 22px;    
    }
    .colfee h2{
         font-size: 20px;       
    }
    .colfee p{
        font-size: 15px;  
        margin: 0;    
        padding: 0 10px;
        padding-top: 15px;
    }
    .demos-inner{
        padding-bottom: 60px;
    }
    .demos-inner .demos{
        font-size: 13px;
        padding: 12px 28px;
    }
    .demos-inner .inner{
        font-size: 13px;
        padding: 12px 28px;
    }

    .home-page-demos{
        padding-bottom: 80px;
    }
    .home-page-demos .demo-title h4 {
        font-size: 24px;
        font-weight: bold;
    }
    .home-page-demos h6{
        padding-bottom: 10px;
    }
    .home-page-demos h1{
        padding-bottom: 20px;      
    }
    .demo-title h4{
        padding-top: 15px;
    }

    .row{
        display: block;     
    }

    .thanks p{
        padding-bottom: 10px;
    }
    .thanks h1{
        padding-bottom: 10px;
        font-size: 28px;
        margin: 0 10px;
        line-height: 1.4;
    }
    .thanks-end{
        font-size: 13px;
    }
    .thanks-end a{
        padding: 12px 28px;
    }
    footer p{
        margin: 6px 20px 15px 20px;
    }
}

@media(min-width:576px) and (max-width:739px)
{
    .top-header{
        height: auto;
    }
    .main-menu{
        font-size: 14px;   
        padding-top: 40px;
    }
    .main-menu .rps-menu-1 {
        margin-right: 92px;
    }  
    .main-menu ul li a{
        padding-left: 0;
    }
    .center{
        float: right;
    }
    .header-btn{
        display: none;
    }
  
    .shape-w{
        display: none;
    }
    .colfee{
        display: block;
    }
    .colfee h1{
        font-size: 22px; 
        margin-left: 38px;
        
    }
    .colfee h2{
         font-size: 20px;       
    }
    .colfee p{
        font-size: 15px;  
        margin: 0;    
        padding: 0 10px;
        padding-top: 15px;
    }
    .demos-inner{
        padding-bottom: 60px;
    }
    .demos-inner .demos{
        font-size: 13px;
        padding: 12px 28px;
    }
    .demos-inner .inner{
        font-size: 13px;
        padding: 12px 28px;
    }

    .home-page-demos{
        padding-bottom: 80px;
    }
    .home-page-demos .demo-title h4 {
        font-size: 24px;
        font-weight: bold;
    }
    .home-page-demos h6{
        padding-bottom: 10px;
    }
    .home-page-demos h1{
        padding-bottom: 20px;      
    }
    .demo-title h4{
        padding-top: 15px;
    }

    .row{
        display: block;     
    }

    .thanks p{
        padding-bottom: 10px;
    }
    .thanks h1{
        padding-bottom: 10px;
        font-size: 28px;
        margin: 0 10px;
        line-height: 1.4;
    }
    .thanks-end{
        font-size: 13px;
    }
    .thanks-end a{
        padding: 12px 28px;
    }
    footer p{
        margin: 6px 20px 15px 20px;
    }
}

@media(min-width:443px) and (max-width:575px)
{
    .top-header{
        height: auto;
    }
    .main-menu{
        font-size: 14px;   
        padding-top: 40px;
    }
    .main-menu .rps-menu-1 {
        margin-right: 92px;
    }  
    .main-menu ul li a{
        padding-left: 0;
    }
    .center{
        float: right;
    }
    .header-btn{
        display: none;
    }
  
    .shape-w{
        display: none;
    }
    .colfee{
        display: block;
    }
    .colfee h1{
        font-size: 22px; 
        margin-left: 73px;
        
    }
    .colfee h2{
         font-size: 20px;       
    }
    .colfee p{
        font-size: 15px;  
        margin: 0;    
        padding: 0 10px;
        padding-top: 15px;
    }
    .demos-inner{
        padding-bottom: 60px;
    }
    .demos-inner .demos{
        font-size: 13px;
        padding: 12px 28px;
    }
    .demos-inner .inner{
        font-size: 13px;
        padding: 12px 28px;
    }

    .home-page-demos{
        padding-bottom: 80px;
    }
    .home-page-demos .demo-title h4 {
        font-size: 24px;
        font-weight: bold;
    }
    .home-page-demos h6{
        padding-bottom: 10px;
    }
    .home-page-demos h1{
        padding-bottom: 20px;      
    }
    .demo-title h4{
        padding-top: 15px;
    }

    .row{
        display: block;     
    }

    .thanks p{
        padding-bottom: 10px;
    }
    .thanks h1{
        padding-bottom: 10px;
        font-size: 28px;
        margin: 0 10px;
        line-height: 1.4;
    }
    .thanks-end{
        font-size: 13px;
    }
    .thanks-end a{
        padding: 12px 28px;
    }
    footer p{
        margin: 6px 20px 15px 20px;
    }
}
